#body-fone {
    
    /* background-image: url(img/body.jpg); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 150px;
    
}
#body-content {
    font-family:'Courier New', Courier, monospace;
    background-image: url("img/fone.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: gray;
    padding-top: 1px;
    margin: auto;
    height:600px;
    max-width: 100%;
    opacity: .9;
}

#title {
    text-decoration: none;
    color: azure;
    font-family: cursive;
}

#hello {
    text-align: center;
}

#container {
    margin-top: 50px;
    text-align: center;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;   
}

#about {
    color: azure;
    border: 3px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;  
    
}

#skill {
    color: azure;
    border: 3px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
}

#contacts {
    color: azure;
    border: 3px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
}

#name {
    text-align: center;
    color: azure;
    margin-top: 100px;
}

